In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model, svm
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
import sklearn.metrics as sklm
from dateutil.relativedelta import relativedelta

%matplotlib inline

In [15]:
work_cust = pd.read_csv('work_cust.csv',index_col='CustomerID')
work_cust.drop(['Unnamed: 0','dummy','AddressLine1','FirstName','LastName','StateProvinceName',
                'PhoneNumber','BirthDate','PostalCode'], axis = 1, inplace = True)
work_cust.head().transpose()

CustomerID,11000,11001,11002,11003,11004
City,Rockhampton,Seaford,Hobart,North Ryde,Wollongong
CountryRegionName,Australia,Australia,Australia,Australia,Australia
Education,Bachelors,Bachelors,Bachelors,Bachelors,Bachelors
Occupation,Professional,Professional,Professional,Professional,Professional
Gender,M,M,M,F,F
MaritalStatus,M,S,M,S,S
HomeOwnerFlag,1,0,1,0,1
NumberCarsOwned,0,1,1,1,4
NumberChildrenAtHome,0,3,3,0,5
TotalChildren,2,3,3,0,5
YearlyIncome,137947,101141,91945,86688,92771
BikeBuyer,0,1,0,0,1
AveMonthSpend,89,117,123,50,95
Age,52,53,53,50,50

In [16]:
# Label
labels = np.array(work_cust['AveMonthSpend'])
labels.shape

(16404,)

In [17]:
# Encode categorical data
def encode_string(cat_features):
    
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education','Occupation',
                       'Gender','MaritalStatus','HomeOwnerFlag']

Features = encode_string(work_cust['CountryRegionName'])

for col in categorical_columns:
    temp = encode_string(work_cust[col])
    Features = np.concatenate([Features, temp], axis = 1)
    
print(Features.shape)

(16404, 22)

In [18]:
# Add numerical feature
Features = np.concatenate([Features, np.array(work_cust[['NumberCarsOwned',
                                                        'NumberChildrenAtHome',
                                                        'TotalChildren',
                                                        'YearlyIncome','Age']])], axis = 1)

print(Features.shape)

(16404, 27)

The code in the cell below performs the following processing:
1. An index vector is Bernoulli sampled using the `train_test_split` function from the `model_selection` package of scikit-learn. 
2. The first column of the resulting index array contains the indices of the samples for the training cases. 
3. The second column of the resulting index array contains the indices of the samples for the test cases.

In [19]:
## Randomly sample cases to create independent training and test data
nr.seed(9988)
indx = range(Features.shape[0])
indx = ms.train_test_split(indx, test_size = 0.3)
X_train = Features[indx[0],:]
y_train = np.ravel(labels[indx[0]])
X_test = Features[indx[1],:]
y_test = np.ravel(labels[indx[1]])

In [20]:
scaler = preprocessing.StandardScaler().fit(X_train[:,23:])
X_train[:,23:] = scaler.transform(X_train[:,23:])
X_test[:,23:] = scaler.transform(X_test[:,23:])

#### Construct the logistic regression model

In [21]:
lin_mod = linear_model.LinearRegression(fit_intercept = False)
lin_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

In [27]:
ads_test = pd.read_csv('./FinalExam-Test/AW_test.csv')
ads_test.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,18988,NaN,Courtney,A,Baker,NaN,8727 Buena Vista Ave.,NaN,Fremont,California,...,1/5/1945,Bachelors,Management,F,S,0,2,0,5,86931
1,29135,NaN,Adam,C,Allen,NaN,3491 Cook Street,NaN,Haney,British Columbia,...,10/4/1964,Bachelors,Skilled Manual,M,M,1,2,2,4,100125
2,12156,NaN,Bonnie,NaN,Raji,NaN,359 Pleasant Hill Rd,NaN,Burbank,California,...,1/12/1934,Graduate Degree,Management,F,M,1,2,0,4,103985
3,13749,NaN,Julio,C,Alonso,NaN,8945 Euclid Ave.,NaN,Burlingame,California,...,9/22/1958,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161
4,27780,NaN,Christy,A,Andersen,NaN,"42, boulevard Tremblay",NaN,Dunkerque,Nord,...,3/19/1965,High School,Manual,F,M,1,1,2,2,21876

In [28]:
# Calculate age of customer based on birthdate
def calculate_age(end):
    r = relativedelta(pd.to_datetime('now'), pd.to_datetime(end)) 
    return '{}'.format(r.years)


ads_test['Age'] = ads_test['BirthDate'].apply(calculate_age)

# Convert age to integer
ads_test['Age'] = ads_test['Age'].astype('int64')

In [29]:
ads_totest = ads_test[['CountryRegionName','Education','Occupation','Gender',
                      'MaritalStatus','HomeOwnerFlag','NumberCarsOwned',
                      'NumberChildrenAtHome','TotalChildren','YearlyIncome',
                      'Age']]

ads_totest.head()

,CountryRegionName,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age
0,United States,Bachelors,Management,F,S,0,2,0,5,86931,73
1,Canada,Bachelors,Skilled Manual,M,M,1,2,2,4,100125,54
2,United States,Graduate Degree,Management,F,M,1,2,0,4,103985,84
3,United States,Graduate Degree,Skilled Manual,M,M,1,0,0,4,127161,60
4,France,High School,Manual,F,M,1,1,2,2,21876,53

In [30]:
# Encode categorical data
def encode_string(cat_features):
    
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['Education','Occupation',
                       'Gender','MaritalStatus','HomeOwnerFlag']

Features = encode_string(ads_totest['CountryRegionName'])

for col in categorical_columns:
    temp = encode_string(ads_totest[col])
    Features = np.concatenate([Features, temp], axis = 1)
    
print(Features.shape)

(500, 22)

In [31]:
# Add numerical feature
Features = np.concatenate([Features, np.array(ads_totest[['NumberCarsOwned',
                                                        'NumberChildrenAtHome',
                                                        'TotalChildren',
                                                        'YearlyIncome','Age']])], axis = 1)

print(Features.shape)

(500, 27)

In [32]:
X_test = Features
X_test[:,23:] = scaler.transform(X_test[:,23:])

In [33]:
scores = lin_mod.predict(X_test)
print(scores)

[ 43.0078125  106.89453125  49.29882812  88.84375     60.85913086
  43.3046875   95.84375    127.51171875 103.17578125  56.5546875
  59.45507812  51.15234375  72.796875    46.96386719  38.04589844
  51.63671875  86.08984375  73.3203125  112.265625    59.62109375
  68.921875    76.0546875  149.7421875   85.171875    55.5546875
  75.61132812  86.83984375 117.30957031  77.4765625   62.43164062
  69.25390625  80.81054688  39.91601562  72.20703125 106.23828125
 104.73730469 149.4375      92.68359375  59.1875      87.33203125
  46.9375      81.          82.82128906  48.99609375  58.4140625
  76.21484375  61.83190918  87.26171875 116.80078125  80.6875
  81.97070312  95.5703125   81.55273438  64.90820312  47.09082031
  76.2265625   57.91308594  75.44628906  64.61523438  70.41015625
  46.3984375   65.796875    91.04394531  83.484375    44.36132812
  81.2734375   82.41796875 133.44335938  66.46875    107.04394531
  85.96484375  68.81640625  93.36035156  44.69140625  65.91894531
  82.59765625 115.91992188  69.0078125   62.41796875  47.93457031
  87.77734375  72.72460938  48.          89.76953125  86.140625
  48.6953125   86.4453125  120.6171875   97.94335938  55.23632812
  53.95703125  95.45703125  38.55859375  49.40625     38.49609375
 139.57421875  60.703125    50.23828125  45.64648438  53.58203125
 106.70703125  74.23242188  49.41796875 119.63867188  87.1171875
 104.78027344  32.92578125  47.02929688  47.6953125   61.09179688
  96.84277344  48.29296875  85.41796875  63.81640625  77.40429688
  85.62890625  39.31640625  41.24609375  46.015625    88.21191406
 124.70703125  88.25585938  82.93066406  39.6640625   79.16015625
  57.38964844  65.359375    91.078125    86.71875    124.22851562
  38.10742188  88.76367188 120.87695312  44.16015625  49.83203125
 113.4140625  151.73144531  84.25390625  85.42285156  84.515625
  90.3359375   42.59570312 116.17773438  36.22265625  78.5859375
  61.86621094  50.80273438  37.125       65.50390625  65.85449219
  99.73828125  71.90234375  68.29492188  77.015625   107.5703125
  38.171875    77.4453125   67.99023438  81.0390625   96.31445312
  38.59765625  72.36523438  60.51171875  97.         108.34765625
  58.53515625  97.7734375  104.21875     92.58203125  38.08203125
  81.0234375   78.24609375  79.25        80.70117188  41.25
  32.63671875 109.1953125   72.77148438  51.26171875 135.37792969
  36.16601562  39.10546875 106.87109375  74.0859375   32.1875
  41.5859375   61.37890625  65.1796875   50.60351562  59.23828125
  81.08203125  81.65625     76.5078125   82.83007812  90.58007812
  71.15625     47.81640625  75.9296875   51.34570312  95.01171875
  58.51953125  79.58789062  31.27734375  78.72070312 130.89453125
  82.70019531 115.95117188  98.55859375  67.26171875  72.828125
  77.234375    70.07226562 121.3828125   41.96679688  45.12792969
  79.83203125  44.109375    59.30859375  80.1328125   80.4765625
  40.53515625  77.39257812 102.9765625   67.90234375  61.30273438
  47.42871094  59.99121094 101.6875      82.65148926  88.36328125
  90.58203125  51.46679688  74.16992188  67.2734375  107.48730469
  69.09960938  92.84033203  96.171875    41.34375     72.84960938
  86.91992188  65.21875     38.8671875   58.27734375  69.21875
  46.921875    78.4296875   71.2734375   80.33203125  85.80664062
 106.65234375  57.6953125   52.6640625   39.328125   130.24609375
  94.57617188  50.85351562  79.703125   123.19921875  82.23242188
  41.04492188  69.33496094  88.734375    67.86132812  83.0625
  69.3359375   42.9375      77.23828125 110.63085938  60.25878906
 109.74609375  41.28125     86.74414062  65.8515625  105.45507812
  42.46875    138.9453125   50.703125   118.59082031  76.11132812
  90.67285156  61.3515625   73.38183594  59.62890625  53.40600586
  30.88671875  75.76074219  41.703125    44.21875     69.10546875
  79.484375    51.05859375  86.52734375 142.25        74.90625
 110.78320312 139.19140625  40.6328125   65.76464844  35.35217285
  46.0703125   56.71484375 117.79296875 102.875       78.37890625
  36.4375     100.6796875  144.90625    124.07421875  77.52148438
  42.01953125 107.42578125 151.08496094  55.48828125  79.62109375
  44.20117188  37.18652344  66.15234375 142.87890625  74.70800781
  71.77539062  66.03222656  51.23828125  34.83203125 138.11132812
  58.81054688  42.31738281  82.62890625  57.62890625  46.3671875
  90.43945312  83.7109375  114.93359375  55.9296875   71.24609375
 114.38476562  79.140625    38.31542969 116.1953125   48.00195312
  91.54101562  74.9609375   76.078125    77.3984375   74.35742188
  63.14257812  80.1015625   58.265625   112.328125    81.1484375
  72.58789062  78.390625    44.75976562  58.80957031  51.265625
  90.59179688  83.80078125  54.91601562  61.21484375  54.03320312
 111.45703125  68.8984375   75.28710938  78.078125    71.12890625
  60.44628906  43.3828125   51.55761719  44.8984375   64.75
 136.78613281  41.5625      91.90625     71.87109375  84.80078125
  45.4296875   77.10058594  43.62109375  38.5        140.51953125
  97.50390625  82.42578125  31.734375    86.90625     44.82421875
  80.75       118.58203125  46.43164062  89.03125     81.3203125
  92.4921875   56.3984375  121.46484375  74.86328125  44.69726562
  76.53125     83.0078125   39.48242188  64.53125     73.91992188
  49.13476562 142.59375    114.125       93.57519531  60.12890625
  87.34765625 105.49609375  45.61523438  81.16015625  47.265625
 106.80273438  64.34375     77.84765625  59.66796875  88.11328125
  76.1171875   84.90625    145.27929688  99.7755127   68.54492188
  73.54101562  33.8046875   55.8046875   68.06640625  54.62304688
  46.41210938  49.15625     61.19140625  61.58056641  62.2890625
  39.71484375 100.79296875  92.42285156 116.81542969 113.61328125
  79.8671875   69.87109375  74.82617188  74.90039062  91.19921875
  52.11523438 108.0234375   92.54296875 114.48242188  38.296875
  78.84570312  46.40234375 109.5234375   65.0234375   44.625
  55.98388672 117.05078125  86.90625     52.96875     77.43945312
  52.5625      81.7890625   70.81738281  49.14257812  93.45019531
  85.47070312  38.21875    102.52734375  40.06640625 103.80078125
  80.59375     53.91015625  87.56054688  52.875       60.40039062
  47.69921875  89.7578125   94.09765625  47.45898438  60.23632812
  68.18164062  67.671875   136.99414062 130.29296875 127.53125
 130.8984375   81.45703125 111.79882812  74.77734375  72.85351562
  28.65429688 146.4453125   50.3671875   88.17578125  91.68359375
  73.3515625  100.77734375 138.39648438  78.22167969  57.66015625
  48.0859375   90.66918945  83.74414062  55.91992188  30.86914062]

In [34]:
result_regression = pd.DataFrame(scores, index = ads_test['CustomerID'],columns=['AveMonthSpend'])

result_regression
result_regression.to_csv('result_regression.csv')